.heading{
    display: flex;
    align-items: center;
    margin-left: 280px;
    margin-bottom: 35px;
    margin-top:20px;
}
.toggle {
    box-sizing: border-box;
    width: 83px;
    height: 40.24px;
    background: #FFFFFF;
    border: 1px solid #FDDAD6;
    border-radius: 41.9192px;
    margin-right: 15px;
}

.avatar {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #FFF4F4;
    border-radius: 88.4354px;
    margin-right: 5px;
}

.downIcon {
    width: 30px;
    height: 30px;
}
