.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px;
    gap: 207px;
    width: 96px;
    height: 1051px;
    background: #FFFFFF;
    z-index: 10;
}

